html 
  head 
    title Cool-slider-3000 
    link(href="style.scss" rel="stylesheet")
  body 
    .cool-slider-3000
      .slider-line
        .slider-circle
        .slider-fill
    script(src="index.ts")